
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  font-size: 2.4rem;
  
  color: #fff;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}


.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  font-size: 1.1rem;

}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: white;
  color: rgb(1, 1, 1);
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.1rem;

}


.todo-button:hover {
  opacity: 0.9;
  transform: scale(1.001);
}
.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgba(0, 200, 255, 0.9) 290%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
  font-weight: 600;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}




.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #0008ff;
}

.edit-icon {
  color: #2b00ff;
}









